@page "/"

<RadzenHeading Size="H1" Text="Healthy Life"></RadzenHeading>

<p>This is an experiment with Blazor WebAssembly.</p>
<p>Guide for a healthier, happier life.</p>

<RadzenButton Text="Radzen Test Button"></RadzenButton>
