@page "/Ingredients"
@inject HttpClient Http 

<h3>Ingredients</h3>

@if (ingredients == null)
{
    <p>Loading...</p>
}
else
{
    <ol>
        @foreach (var ingredient in ingredients)
        {
            <li>@ingredient.Name</li>
        }
    </ol>
    <NavLink class="btn btn-success" href="CreateIngredient">Add Missing Ingredient</NavLink>
}

@code {
    private Ingredient[] ingredients;

    protected override async Task OnInitializedAsync()
    {
        ingredients = await Http.GetJsonAsync<Ingredient[]>("Ingredients");
    }
}
