@page "/Ingredients"
@inject HttpClient Http

<RadzenContent Container="main">
    <RadzenHeading Size="H1" Text="Ingredients"></RadzenHeading>
        <div class="col-md-12">
            <RadzenGrid Responsive="false" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@ingredients" Count="@ingredientCount" TItem="Ingredient" LoadData="@GridLoadData">
                <Columns>
                    <RadzenGridColumn TItem="Ingredient" Property="Name" Title="Ingredient (100g)">
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Ingredient" Property="Calory" Title="Calory (kcal)" Filterable="false">
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Ingredient" Property="Carbohydrate" Title="Carbohydrate (g)" Filterable="false">
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Ingredient" Property="Protein" Title="Protein (g)" Filterable="false">
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Ingredient" Property="Fat" Title="Fat (g)" Filterable="false">
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </div>
</RadzenContent>
