@page "/Recipes"
@inject HttpClient Http

<h3>Recipes</h3>

@if (recipes == null)
{
    <p>Loading...</p>
}
else
{
    <ol>
        @foreach (var recipe in recipes)
        {
            <il>@recipe.Title</il>
        }
    </ol>
}

@code {
    private Recipe[] recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await Http.GetJsonAsync<Recipe[]>("Recipes");
    }
}
