@inherits LayoutComponentBase

<RadzenNotification />

<RadzenHeader>
    <div class="row justify-content-center">
        <NavMenu />
    </div>
</RadzenHeader>
<RadzenBody>
    <RadzenContentContainer Name="main">
        @Body
    </RadzenContentContainer>
</RadzenBody>
